@model DatabaseContext.UserTbl

@{
    ViewBag.Title = "User";
}
@if (Model != null)
{

    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="@Url.Content(Model.Photo)" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;" />
                            
                            <h5 class="my-3">@Model.FirstName @Model.LastName</h5>
                            <p class="text-muted mb-1">@Model.Profession</p>
                            <p class="text-muted mb-4">@Model.Address</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="@Url.Action("Edit", "UserTbls", new { id = Model.UserID })" class="btn btn-primary">Edit</a>

                            </div>
                            <div class="d-flex justify-content-center mb-2">

                                <a href="@Url.Action("Index", "UserTbls", new { id = Model.UserID })" class="btn btn-primary">Back to List</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.FirstName @Model.LastName</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.EmailAddress</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.LandlineNo</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Mobile</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.MobileNo</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Alternate Mobile</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.AlternateMobileNo</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Password</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.Password</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Confirm Password</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.ConfirmPassword</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Gender</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.Gender</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Date of Birth</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.DateOfBirth</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Marital Status</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.MaritalStatus</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Marriage Date</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.MarriageDate</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.Address</p>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">City</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.City</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">State</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.State</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Country</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.Country</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Description</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.Description</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Profession</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.Profession</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Hobbies</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.Hobbies</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Family Info</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.FamilyInfo</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Other Info</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.OtherInfo</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">College Photo</p>
                                </div>
                                <div class="col-sm-9">
                                    @if (!string.IsNullOrEmpty(Model.CollegePhoto))
                                    {
                                        <p class="text-muted mb-0"><img src="@Url.Content(Model.CollegePhoto)" width="50" height="50" /></p>
                                    }
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Couple Photo</p>
                                </div>
                                <div class="col-sm-9">
                                    @if (!string.IsNullOrEmpty(Model.CouplePhoto))
                                    {
                                        <p class="text-muted mb-0"><img src="@Url.Content(Model.CouplePhoto)" alt="img" width="50" height="50" /></p>
                                    }
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Family Photo</p>
                                </div>
                                <div class="col-sm-9">
                                    @if (!string.IsNullOrEmpty(Model.FamilyPhoto))
                                    {
                                        <p class="text-muted mb-0"><img src="@Url.Content(Model.FamilyPhoto)" width="50" height="50" /></p>
                                    }
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">User Type</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.UserTypeID</p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
