@model IEnumerable<DatabaseContext.UserTbl>


@{
    ViewBag.Title = "User";
}



<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All users</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            First Name
                        </th>
                        <th>
                            Middle Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Additional Name
                        </th>
                        <th>
                            Mobile No
                        </th>
                        <th>
                            Alternate Mobile No
                        </th>
                        <th>
                            Landline No
                        </th>
                        <th>
                            Email Address
                        </th>
                        <th>
                            Password
                        </th>
                        <th>
                            Confirm Password
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            Date Of Birth
                        </th>
                        <th>
                            Marital Status
                        </th>
                        <th>
                            Marriage Date
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            State
                        </th>
                        <th>
                            Country
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Profession
                        </th>
                        <th>
                            Hobbies
                        </th>
                        <th>
                            Experience
                        </th>
                        <th>
                            Family Info
                        </th>
                        <th>
                            Other Info
                        </th>
                        <th>
                            Photo
                        </th>
                        <th>
                            College Photo
                        </th>
                        <th>
                            Couple Photo
                        </th>
                        <th>
                            Family Photo
                        </th>
                        <th>
                            Type Name
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MiddleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdditionalName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MobileNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AlternateMobileNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LandlineNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConfirmPassword)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfBirth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaritalStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MarriageDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.State)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Country)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Profession)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hobbies)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Experience)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FamilyInfo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OtherInfo)
                            </td>
                            
                            <td>
                                @if (!string.IsNullOrEmpty(item.Photo))
                                {
                                    <img src="@Url.Content(item.Photo)" alt="Image" style="width:100px; height:150px; max-width:100%; height:auto;" />
                                }
                                </td>
                            
                            <td>
                                @if (!string.IsNullOrEmpty(item.CollegePhoto))
                                {
                                    <img src="@Url.Content(item.CollegePhoto)" alt="Image" style="width:100px; height:150px; max-width:100%; height:auto;" />
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.CouplePhoto))
                                {
                                    <img src="@Url.Content(item.CouplePhoto)" alt="Image" style="width:100px; height:150px; max-width:100%; height:auto;" />
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.FamilyPhoto))
                                {
                                    <img src="@Url.Content(item.FamilyPhoto)" alt="Image" style="width:100px; height:150px; max-width:100%; height:auto;" />
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTypeTbl.UserTypeName)
                            </td>
                            <td class="btn-group">
                                @Html.ActionLink("Edit", "Edit", new { id = item.UserID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.UserID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.UserID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>