@model Alumni_Pro.ViewModels.ResetPasswordVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reset Password</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/Admin Template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/Admin Template/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-5 col-lg- col-md-5">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Reset Password</h1>
                            </div>

                            @using (Html.BeginForm("ResetPassword", "UserTbls", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Mobile, "Enter your Mobile No. :")
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", type = "tel" })
                                        @Html.ValidationMessageFor(m => m.Mobile)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.NewPassword, "New Password :")
                                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", type = "password" })
                                        @Html.ValidationMessageFor(m => m.NewPassword)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmNewPassword, "Confirm Password :")
                                        @Html.TextBoxFor(m => m.ConfirmNewPassword, new { @class = "form-control", type = "password" })
                                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                                    

                                
                                </div>
                            }

                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/Admin Template/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/Admin Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/Admin Template/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/Admin Template/js/sb-admin-2.min.js"></script>

</body>

</html>
